.git
.gitignore
.runtime
.env
.idea
**/.DS_Store
**/__pycache__
**/*.pyc
**/*.pyo
**/*.log
项目源码/server/.venv
项目源码/server/.venv312
项目源码/server/uploads
项目源码/server/chroma_data
项目源码/server/chroma_data_backup_20260410_2359
项目源码/server/chroma_medical
项目源码/client/node_modules
项目源码/client/dist
知识库文件
